*{
    box-sizing: border-box;
    
}
.container {
    height: 90vh !important;
    padding: 0px;
}
.head {
    display: flex;
    justify-content: center;
    border: 1px solid #eee;
}
.head button {
    border: none;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
}
.col-lg-4 img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.row {
    padding: 0px;
    margin: 0px;
   
}
.col-lg-4 {
    padding: 0px;
    overflow: hidden;
}
.loading-cotainer{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}
.loading {
    width: 100px;
    height: 100px;
    position: relative;
}
.circle {
    width: inherit;
    height: inherit;
    border: 5px solid black;
    border-left-color: lightblue;
    border-right-color: lightblue;
    border-radius: 50%;
    animation: circle 1s linear infinite
}
.loading span {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    animation: loading 1s linear infinite;
}
.loading-cotainer.start {
    display: none;
}
.hambeger {
    position: absolute;
    top:10px;
    left:10px;
    width: 30px;
    height: 30px;
    visibility: hidden;
}
.hambeger span {
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    transition: 0.3s;
}
.hambeger.add {
    left:100px;
}
.hambeger span:nth-child(1) {
    top:0;
}
.hambeger span:nth-child(2) {
    top:50%;
}
.hambeger span:nth-child(3) {
    top:100%
}
.hambeger.add span:nth-child(1){
    top:50%;
    transform: rotate(45deg);
}
.hambeger.add span:nth-child(2){
    opacity: 0;
}
.hambeger.add span:nth-child(3){
    top:50%;
    transform: rotate(-45deg);
}

@keyframes circle {
    0%{
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loading {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
@media (max-width: 600px) {
    .hambeger{
        visibility: visible;
    }
    .head {
        position: absolute;
        top:0;
        left:100%;
        display: flex;
        flex-direction: column;
        background-color: #eee;
    }
    .container h1 {
        margin-bottom: 20px;
    }
    .head.add {
        left: 0;
    }
}